body {
  min-width: 500px;
  padding: 10px 10px;
}

#clipboard-history {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font: -moz-field;
  font: -webkit-small-control;
  margin-top: 10px;
  padding: 2px 3px;
  height: 200px;
  width: 100%;
  overflow: scroll;
}

.text-24 {
  font-size: 24px;
}

.checkbox {
  cursor: pointer;
}

.checkbox:active {
  cursor: pointer;
}

#set_cursor_options.disabled * {
  pointer-events: none;
  opacity: 0.5;
}

#set_cursor_options.enabled *, #set_cursor_options * {
  cursor: pointer;
  opacity: 1;
}

#set_cursor_options {
  margin-left: 20px;
}